<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>English - Russian</h4>
        <div class="form-group">
            <input type="text" ng-model="srcTerm" class="form-control" />
        </div>
        <a href="#/engrus_result" class="btn btn-primary">Search</a>
    </div>
    
<!--
    <div class="col-md-6 col-md-offset-3">
        <angucomplete-alt id="members"
              placeholder="Search terms"
              pause="400"
              selected-object="testObj"
              remote-url='http://localhost:3000/api/EngRus/findOne?filter={where:{"eng":' + '}}'
              remote-url-data-field="results"
              title-field="eng"
              description-field="email"
              image-field="profilePic"
              input-class="form-control form-control-small"/>
    </div>
-->
    
</div>